/* Custom Styles */
ul.nav{
	border-bottom: 0px;
}
ul.nav-tabs {
	width: 150px;
	margin-top: 10px;
	font-weight: 700;
	color:#0088cc;
	border-top:0px;
	border-right:0px;
}
ul.nav-tabs li a {
	padding: 5px 10px;
	border-radius: 0px;
	color:#999;
}
ul:hover li.normal:hover a:hover{
	color:#0088cc;
	background-color: transparent;
	border-color: transparent;
	border-left: 1px solid #0088cc;
}
ul.nav-tabs li.active, ul.nav-tabs li.active a{
	color:#0088cc;
	border-color: transparent;
	border-left: 1px solid #0088cc;
}
ul.nav-tabs.affix {
	top: 0px; /* Set the top position of pinned element */
}

ul.small {
	list-style-type: none;
}

li.small a.highlight, li.small a:hover{
	background-color: transparent;
	color:red;
	border:none;
	padding-left:12px;
}

div.footnote{
	text-align: center;
	color:gray;
	font-size:small;
	padding-bottom: 20px;
}