/* Custom Styles */
body {
	position:relative;
}

div.headline {
	color:gray;
}

div.section {
	padding-top: 10px;
	font-size: 14pt;
}

div.nav, ul.nav{
	border-bottom: 0px;
}
div.nav, ul.nav-tabs {
	width: 150px;
	margin-top: 10px;
	font-weight: 700;
	color:#0088cc;
	border-top:0px;
	border-right:0px;
}
div.nav-tabs li a, ul.nav-tabs li a {
	padding: 5px 10px;
	border-radius: 0px;
	color:#999;
}
ul:hover li.normal:hover a:hover{
	color:#0088cc;
	background-color: transparent;
	border-color: transparent;
	border-left: 1px solid #0088cc;
}
ul.nav-tabs li.active, ul.nav-tabs li.active a{
	color:#0088cc;
	border-color: transparent;
	border-left: 1px solid #0088cc;
}
ul.nav-tabs.affix {
	top: 0px; /* Set the top position of pinned element */
}

ul.small {
	list-style-type: none;
}

li.large {
	padding-left:10px;
	font-size:large;
	padding-bottom:10px;
	color:gray;
}

li.small a{
	background-color: transparent;
	border-color:transparent;
	margin:0 0 0 0;	
}

li.small a:hover {
	background-color: transparent;
	border-color:transparent;
	text-decoration:underline;	
}

li.small a.highlight {
	color:red;
}

div.footnote{
	text-align: center;
	color:gray;
	font-size:small;
	padding-bottom: 20px;
}